<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bus Timings{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bus Timings Website</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Bus Timings Website 2025 | Developed by Adarsh kulal | <a href="https://instagram.com/your_instagram">Follow on Instagram</a></p>
    </footer>
</body>
</html>
