{% extends "base.html" %}

{% block title %}Bus Timings Home{% endblock %}

{% block content %}

<div class="fullscreen-image-wrapper">
    <img src="{{ url_for('static', filename='images.jpeg') }}" alt="Full Screen Image">
</div>

<div class="container">
   <center> <h2>🚌 Never miss your bus again! ⏰ Check live timings, plan your trip with ease, and travel stress-free. ✅</h2></center
    
    
    
    <div class="search-container">
        <form action="{{ url_for('search') }}" method="get" class="search-bar">
            <select name="destination">
                <option value="Ajekar to Udupi">Ajekar to Udupi</option>
                <option value="Udupi to Ajekar">Udupi to Ajekar</option>
            </select>
    
            <input type="text" name="stop" placeholder="Choose Your Stop">
            <button type="submit">🔍</button>
        </form> 
    </div>
    
    <section class="direction-buttons">
        <a href="{{ url_for('view_direction', direction='Ajekar to Udupi') }}" class="btn btn-blue">
            Ajekar to Udupi
        </a>
    
        <a href="{{ url_for('upload') }}" class="btn btn-green">
            + Add New Timing
        </a>
    
        <a href="{{ url_for('view_direction', direction='Udupi to Ajekar') }}" class="btn btn-gray">
            Udupi to Ajekar
        </a>
    </section>
    

    <div id="search-results" class="search-results">
        <!-- Results will be displayed here -->
    </div>
</div>

{% endblock %}
